<main class="main-content">

    <div class="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList; let i = index">
                    <div class="card h-100">
                        <img class="card-img-top" src="assets/products-images/img{{i}}.jpg" alt="" height="328px"
                            width="328px">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ product.name }}
                            </h4>
                            <h5>{{ product.price | currency}}</h5>
                            <h5>Quantity - {{ product.availableQty}}</h5>

                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <label for="product name">Quantity Required</label>
                                <input type="text" name="orderQuality" class="form-control" style="width: 25%;"
                                    #orderQuality>
                                <span class="text-danger" *ngIf="showQualityError">Enter order Quality</span>
                            </div>
                            <button class="btn btn-success" (click)=addToCart(product,orderQuality.value);>Buy
                                Product</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>